
      body{
        font-family: monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
        color: #272525;
        scroll-margin-top:100px;
      }
    
      a{
        color: blue;
      }
      
      main{
        max-width:  580px;
        margin: 0 auto;
        padding: 1rem;
      }
      
      h1{
        font-family: monospace;
        text-align: center;
      }
      
      p{
        line-height: 130%;
      }

      table td{
        border: 1px solid #272525;
        margin: 0;
        font-size: .8rem;
        padding: .25rem;
      }